<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>de</string>
	<key>CFBundleDisplayName</key>
	<string>KulturPass DE</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>https</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NFCReaderUsageDescription</key>
	<string>KulturPass DE needs NFC to access the ID card.</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSPinnedDomains</key>
		<dict>
			<key>commerce.prod.kulturpass.de</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSPinnedLeafIdentities</key>
				<array>
					<dict>
						<key>SPKI-SHA256-BASE64</key>
						<string>Lf3OQ78SvZ4/LxwO2+Z4BoSPLEpSVQzstrkE7wuEOxI=</string>
					</dict>
				</array>
			</dict>
		</dict>
	</dict>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>To suggest more suitable cultural offers to you, we want to use your location while using the app.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>To suggest more suitable cultural offers to you, we want to use your location while using the app.</string>
	<key>NSUserNotificationsUsageDescription</key>
	<string>We are sending push notifications to inform you about changes of the status of reservations, cancellations, and refunds for your budget etc., and to  remind you to pick up products or to redeem your codes.</string>
	<key>UIAppFonts</key>
	<array>
		<string>nunito_black.ttf</string>
		<string>nunito_blackitalic.ttf</string>
		<string>nunito_bold.ttf</string>
		<string>nunito_bolditalic.ttf</string>
		<string>nunito_extrabold.ttf</string>
		<string>nunito_extrabolditalic.ttf</string>
		<string>nunito_extralight.ttf</string>
		<string>nunito_extralightitalic.ttf</string>
		<string>nunito_italic.ttf</string>
		<string>nunito_light.ttf</string>
		<string>nunito_lightitalic.ttf</string>
		<string>nunito_medium.ttf</string>
		<string>nunito_mediumitalic.ttf</string>
		<string>nunito_regular.ttf</string>
		<string>nunito_semibold.ttf</string>
		<string>nunito_semibolditalic.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen.storyboard</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>com.apple.developer.nfc.readersession.iso7816.select-identifiers</key>
	<array>
		<string>E80704007F00070302</string>
	</array>
</dict>
</plist>
