.eslintrc.js
.prettierrc.js
.watchmanconfig
README.md
app.json
node_modules
ios
android
vendor
coverage/

# Ignoring lottie json animations
src/components/loading-animation/loading-animation-lottie.json
# Ignoring simulated card jsons
src/screens/developer-settings/simulation-cards/*.json
# Ignoring en.json translations
src/services/translation/i18n/en.json 